/* Footer styling */
.footer {
    background-color: #22786f; /* Green background */
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 100%;
  }
  