/* src/components/HomePage.css */
.homepage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.homepage-header {
  padding: 60px 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  background: url('C:\Users\prakh\OneDrive\Desktop\health_monitor\health_monitor\frontend\src\components\med.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.homepage-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Optional: for darker overlay */
  border-radius: 10px;
}

.homepage-header h1,
.homepage-header p {
  position: relative;
  z-index: 1;
}

.homepage-header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.homepage-header p {
  font-size: 18px;
}

.introduction {
  margin: 40px 0;
  padding: 40px 20px;
  background: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.introduction p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.feature {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.feature-link {
  display: inline-block;
  padding: 10px 20px;
  background: #2f877e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.feature-link:hover {
  background: #2ea297;
}

.additional-content {
  margin: 40px 0;
  padding: 20px;
  color: white;
  background: #536860;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.additional-content h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.additional-content p {
  font-size: 18px;
  color: white;
}
