/* src/components/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #536860;
    color: white;
    border-radius: 5px;
  }
  
  .navbar-brand a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .navbar-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  