.signup-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.role-dropdown {
  margin-bottom: 15px;
}

.btn-container {
  text-align: center;
   /* Center align the button */


.btn {
  width: 100%; /* Adjust width to match email input container size */
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #2f877e; /* Background color changed to #28a745 */
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover{
  background: #2ea297;
}
}

.error {
  margin-top: 10px;
  color: red;
  text-align: center;
}

.uid-container {
  margin-top: 20px;
  text-align: center;
  .btn
  {
    width: 100%; /* Adjust width to match email input container size */
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #2f877e; /* Background color changed to #28a745 */
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  .btn:hover{
    background: #2ea297;
  }


  .uid-container h3 
  {
    margin-bottom: 10px;
  }
}